{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/styles/menu-css/food.css">
<link rel="stylesheet" href="../static/styles/header.css">


<section>

    <div class="card" style="width: 18rem;">
        <img src="../static/image/testimg/drink5.jpg" class="card-img-top" alt="Loading...">
        <div class="card-body
        type=" button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" ">
            <h5 class=" card-title">Card title</h5>
            <p class="card-text">
                <span>Р</span>ецепт теста с рулетом из говядины
            </p>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul>
                        <li>700 грамм муки Twins Chakra Flour</li>
                        <li>300 г муки Blue Triangle</li>
                        <li>15 грамм растворимых дрожжей</li>
                        <li>15 граммов йодированной соли</li>
                        <li>60 грамм сахара</li>
                        <li>3 грамма улучшителя хлеба</li>
                        <li>100 г яиц (2 яйца)</li>
                        <li>450 граммов ледяной воды</li>
                        <li>100 грамм маргарина</li>
                        <li>500 г теста для шортенинга (слоеное)</li>
                        <li>1 красный перец, нарезанный</li>
                        <li>1 зеленый перец, нарезанный</li>
                        <li>50 г нарезанного лука-порея</li>
                        <li>100 грамм тертого сыра пармезан</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="about">
    <div class="row">
        <div class="col50">
            <h2><span>Р</span>ецепт теста с рулетом из говядины</h2>
            <p>Ингредиенты:</p>
            <ol onclick="alert('К сожалению это не кнопа');">
                <li>700 грамм муки Twins Chakra Flour</li>
                <li>300 г муки Blue Triangle</li>
                <li>15 грамм растворимых дрожжей</li>
                <li>15 граммов йодированной соли</li>
                <li>60 грамм сахара</li>
                <li>3 грамма улучшителя хлеба</li>
                <li>100 г яиц (2 яйца)</li>
                <li>450 граммов ледяной воды</li>
                <li>100 грамм маргарина</li>
                <li>500 г теста для шортенинга (слоеное)</li>
                <li>1 красный перец, нарезанный</li>
                <li>1 зеленый перец, нарезанный</li>
                <li>50 г нарезанного лука-порея</li>
                <li>100 грамм тертого сыра пармезан</li>
            </ol>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="/static/image/testimg/boorger61280.jpg" alt="loadind">
            </div>
        </div>
    </div>
</section>
<!---->
<section class="about">
    <div class="row">
        <div class="col50">
            <h2><span>П</span>ростой рецепт домашнего чизбургера</h2>
            <p>Ингредиенты:</p>

            <ol onclick="alert('К сожалению это не кнопа');">
                <!--  //<A HREF="#" onclick="alert('Hello, world!');">Нажми</A>-->
                <li>Говяжий фарш - 400 гр.</li>
                <li>Помидор - 1 шт.</li>
                <li>Лук репчатый -1 шт.</li>
                <li>Листья салата -1 пучок.</li>
                <li>Плавленный сыр - 3 ломтика.</li>
                <li>Булочки для гамбургеров - 3 шт.</li>
                <li>Соусы, соль и перец по вкусу<span>.</span>
            </ol>
        </div>
        <div class="col50">
            <div class="imgBx">
                <img src="../static/image/testimg/burger4(640).jpg" alt="loadind">
            </div>
        </div>
    </div>
</section>
<!---->

<script src="../static/script/bgSizeOffset.js"></script>
<script src="../static/script/header.js"></script>
<script src="../static/script/bootstrap/cart-model.js"></script>

{% endblock %}